.counter {
  font: inherit;
  width: 100%;
  margin: auto;
  display: grid;
  flex: 1;
}

.counter .counter__value {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  display: flex;
}

.counter .counter__value > span {
  display: block;
  width: 100%;
  margin: auto;
}

.counter .counter__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.counter .counter__actions .btn {
  font: inherit;
  line-height: 1;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  background: #f4f4f4;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  transition: background 0.15s ease;
}

.counter .counter__actions .btn:hover,
.counter .counter__actions .btn:active {
  background: #ebebeb;
}
