:root {
  --header-content-size: 2rem;
}

.header {
  width: 100%;
  height: 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.15rem;
  line-height: 1;
  border-bottom: 1px solid var(--primary-border);
}

.header__logo {
  width: var(--header-content-size);
  height: var(--header-content-size);
  display: flex;
}

.header__logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__title {
  height: var(--header-content-size);
  font-size: var(--header-content-size);
}

@media (max-width: 600px) {
  :root {
    --header-content-size: 1.5rem;
  }
}
