:root {
  --app-max-width: 640px;
  --primary-border: #d4d4d4;
  --btn-min-width: 136px;
}

.App {
  font: inherit;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
